.toolbar__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 0px;
    margin: 0px;
}

.toolbar__navigation__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    padding: 0px;
    margin: 0px;

    list-style: none;
}

hr {
    margin: 0px;
    padding: 0px;

    border: 1px solid;
    /*border-color: var(--color-on-primary-text2);*/
    border-color: var(--color-on-primary);
}

header {
    /*background-color: var(--color-secondary);
    color: var(--color-on-secondary);
    margin: 0px;*/
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    margin: 0px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px 0 16px;  /* padding: top right bottom left */
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
}

.position--sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.list {}
.list__generic {
    margin: 0px;
    padding: 0px;
}
.list__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 16px;

    max-width: 960px;
}
.list__item__primary-text {}
.list__item__secondary-text {
    color: var(--color-on-primary-text2)
}
.list__item__overline {}
.list__item__link {}