@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* ----------------------------------------------------------------------------
 * VARIABLES
---------------------------------------------------------------------------- */
:root {
    --dimension-section-height: 72vh;
    --dimension-intersection-space: 32px;
}

/* ----------------------------------------------------------------------------
 * COLORS
---------------------------------------------------------------------------- */
:root {
    --color-background: #FDFDFD;
    --color-text-primary: #30303F;
    --color-text-secondary: #88888F;
    --color-text-disabled: #D0D0D0;
    --color-text-link: #0099FF;
    --color-text-link-hover: #0066CC;
}

/* ----------------------------------------------------------------------------
 * TYPOGRAPHY
---------------------------------------------------------------------------- */
/* BASIC */
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Exo 2', 'JetBrains Mono', sans-serif;
    }
    h1 {
        font-size: 48px;
        font-weight: 300;
    }
    h2 {
        font-size: 40px;
        font-weight: 300;
    }
    h3 {
        font-size: 33px;
    }
    h4 {
        font-size: 28px;
    }
    h5 {
        font-size: 23px;
    }
    h6 {
        font-size: 19px;
    }
/* EXTRA */
    .typography__body1 {
        font-size: 14px;
    }
    .typography__body2 {
        font-size: 12px;
    }
    .typography__text--secondary {
        color: var(--color-text-secondary);
    }
    .typography__text--disabled {
        color: var(--color-text-disabled);
    }
    .typography__text--accent {
        color: var(--color-accent);
    }
    h1.typography__display {
        font-weight: 300;
        margin: 0px;
    }
    h5.typography__display {
        font-weight: 300;
        margin-bottom: 0px;

    }


/* ----------------------------------------------------------------------------
 * ADAPTIVE LAYOUT
---------------------------------------------------------------------------- */
/* MOBILE */
    @media (max-width: 480px) {
        body {
            font-size: 14px;
        }
        ul {
            padding-left: 16px;
        }
        h1 {
            font-size: 24px;
        }
        .section__container--content {
            padding: 16px;
        }
        .footer__container {
            padding-left: 16px;
            padding-right: 16px;
        }
        .header__container {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
/* TABLET PORTRAIT */
    @media (min-width: 481px) and (max-width: 768px) {
        body {
            font-size: 14px;
        }
        ul {
            padding-left: 16px;
        }
        h1 {
            font-size: 24px;
        }
        .section__container--content {
            padding: 16px;
        }
        .footer__container {
            padding-left: 16px;
            padding-right: 16px;
        }
        .header__container {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
/* TABLET LANDSCAPE */
    @media (min-width: 769px) and (max-width: 1024px) {
        body {
            font-size: 16px;
        }
        ul {
            padding-left: 16px;
        }
        h1 {
            font-size: 24px;
        }
        .section__container--content {
            padding: var(--dimension-intersection-space);
        }
        .footer__container {
            padding-left: var(--dimension-intersection-space);
            padding-right: var(--dimension-intersection-space);
        }
        .header__container {
            padding-left: var(--dimension-intersection-space);
            padding-right: var(--dimension-intersection-space);
        }
    }
/* LAPTOP */
    @media only screen and (min-width: 1025px) and (max-width: 1600px) {
        body {
            font-size: 16px;
        }
        ul {
            padding-left: 32px;
        }
        h1 {
            font-size: 32px;
        }
        .header__container {
            max-width: 960px;
            margin: 0 auto;
        }
        .section__container--cover {
            max-width: 960px;
            margin: 0 auto;
        }
        .section__container--content {
            max-width: 960px;
            margin: 0 auto;
            padding-top: var(--dimension-intersection-space);
            padding-bottom: var(--dimension-intersection-space);
        }
        .footer__container {
            max-width: 960px;
            margin: 0 auto;
        }
        .header__container {
            max-width: 960px;
            margin: 0 auto;
        }
    }
/* DESKTOP */
    @media only screen and (min-width: 1601px) {
        body {
            font-size: 16px;
        }
        ul {
            padding-left: 32px;
        }
        h1 {
            font-size: 32px;
        }
        .header__container {
            max-width: 1280px;
            margin: 0 auto;
        }
        .section__container--cover {
            max-width: 1280px;
            margin: 0 auto;
        }
        .section__container--content {
            max-width: 1280px;
            margin: 0 auto;
            padding-top: var(--dimension-intersection-space);
            padding-bottom: var(--dimension-intersection-space);
        }
        .footer__container {
            max-width: 1280px;
            margin: 0 auto;
        }
        .header__container {
            max-width: 1280px;
            margin: 0 auto;
        }
    }


/* ----------------------------------------------------------------------------
 * CORE STYLES
---------------------------------------------------------------------------- */

/* BASIC CONTAINERS */
    body {
        margin: 0;
        padding: 0;

        font-family: 'Exo 2', 'JetBrains Mono', sans-serif;
        font-weight: 300;
        line-height: 2.0;

        background-color: var(--color-background);
        color: var(--color-text-primary);
    }
    header {
        margin: 0;
        padding: 0;

        min-height: 56px;
    }
    main {
        margin: 0;
        padding: 0;
    }
    footer {
        margin: 0;
        padding: 0;

        min-height: 56px;
        background-color: var(--color-text-primary);
    }
    section {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    nav {
        margin: 0;
        padding: 0;
    }

/* EXTRA CONTAINERS */
    /* FLEX */
        .box {
            display: flex;
        }
        .box.row {
            flex-direction: row;
            flex-grow: 1;
            flex-shrink: 1;
        }
        .box.row.wrap {
            flex-wrap: wrap;
        }
        .box.column {
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 1;
        }
        .box.center {
            justify-content: center;
            align-items: center;
        }
        .box.center.row {
            align-items: center;
        }
        .box.center.column {
            justify-content: center;
        }
    /* GRID */
        .grid {
            display: grid;
        }
        .grid.row {
            grid-auto-flow: column;
        }
        .grid.column {
            grid-auto-flow: row;
        }
        .grid.wrap {
            grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        }
/* CUSTOM CONTAINERS */
    .container {
        margin: 0;
        padding: 0;
    }
    .header__container {
        padding: 0;
    }
    .main__container {
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
    }
    .section__container--content {
        width: 100%;
        justify-content: center;
    }
    .section__container--cover {
        width: 100%;
        min-height: var(--dimension-section-height);
        justify-content: center;
    }
    .footer__container {
        padding: 0;
        color: var(--color-background);
        justify-content: center;
    }

/* ----------------------------------------------------------------------------
 * COMPONENTS
---------------------------------------------------------------------------- */
/* BASIC ELEMENTS */
    a {
        text-decoration: none;
        color: var(--color-text-link);
    }