@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

:root {
    /* 
     * COLORS 
     */
    --color-primary-dark: #303030;
    --color-primary-light: #F0F0F0;
    --color-accent-primary: #4FC4FA;

    --color-light: #FAFAFA;
    --color-dark: #1C1C1C;
    --color-grayscale-100: #1C1C1C;
    --color-grayscale-200: #575757;
    --color-grayscale-300: #707070;
    --color-grayscale-400: #292929;
  }
  

body {
    margin: 0;
    padding: 0;
    position: relative;

    font-family: "Ubuntu", sans-serif;
    line-height: 1.5;

    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1, h2, strong {
  color: var(--color-primary-dark);
}

a {
    color: var(--color-accent-primary);
}

header {
    /*background: linear-gradient(90deg, #0081C2, #03BD8B);*/
    background-color: var(--color-primary-dark);
    /*background-image: url("header.jpg");*/
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    max-width: none;
    padding: 10vw 2em;
    text-align: left;
    color: var(--color-primary-light);
}

header h1 {
    color: var(--color-primary-light);
    font-size: 2.488rem;
    font-weight: 300;
}
.main-header {
    margin: 0 auto;
    max-width: 50em;
}

main {
    margin: 0 auto;
    max-width: 50em;
    padding: 4em 1em;
}

footer {
    background-color: var(--color-primary-dark);
    color: var(--color-primary-light);
    position: absolute;
    width: 100%;
}

.main-footer {
    margin: 0 auto;
    max-width: 50em;
}


/* 
 * Typography (1.200 - Minor Third)
 * https://type-scale.com/
 */

h1 {
    /*margin-top: 0;*/
    font-size: 2.4rem;
}
  
h2 {
    font-size: 2.0rem;
}
  
h3 {
    font-size: 1.7rem;
}
  
h4 {
    font-size: 1.4rem;
}
  
h5 {
    font-size: 1.2rem;
}

.caption {
    font-size: 0.8rem;;
}

.caption-accent {
    font-weight: bold;
    font-size: 1.2rem;
}



/*
 * SPOT DESCRIPTION
 */

 .spot-header {
    margin: 0 auto;
    max-width: 50em;
}

/* Make Google Maps responsive */

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* Make Youtube player pesponsive */

.video-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}