/*
* Simple UI components
*/

.ui-toolbar {
    height: 64px;
    padding-left: 16px;
    padding-right: 16px;
}

.ui-text-field {
    
    /* 
    * use <input> 
    * example: <input type="text" class="UI_label">some text</input>
    */
    
    height: 40px;
    font-size: 1em;
    color: #555;
    padding-left: 16px;
    padding-right: 16px;
}

.ui-label {
    
    /* 
    * use <span> 
    * example: <span class="UI_label">some text</span>
    */
    
}

.ui-card {
    margin-top: 8px;
    margin-bottom: 8px;
    
    padding: 8px 8px 0px 8px;
}

/*.ui-card-header {
    margin-left: 16px;
    margin-right: 16px;
}

.ui-card-content {
    margin-left: 16px;
    margin-right: 16px;
}

.ui-card-actions {
    margin-left: 16px;
    margin-right: 16px;
}*/

.ui-card-shadow {
    height: 2px;
    background-color: #e0e0e0;
    
    margin-top: 0px;
    margin-bottom: 0px;
}