/*
 * ------------------------------------------------ 
 * DIMENSIONS
 * ------------------------------------------------
 */

:root {
    --dimension-space-XXL: 0px;
    --dimension-space-XL: 0px;
    --dimension-space-L: 0px;
    --dimension-space-M: 0px;
    --dimension-space-S: 0px;
    --dimension-space-XS: 0px;
    --dimension-space-XXS: 0px;

    --dimension-max-text-container: 960px;
    --dimention-line-height-display: 1.2;
    --dimention-line-height-text: 1.5;

    --dimension-border-radius: 8px;
    --dimension-border-width: 1px;
}

/* ADAPTIVE LAYOUTS */

    /* MOBILE */
    @media only screen and (max-width: 480px) {
        /* ... */
        :root {
            --layout-gap: 8px;
            --container-padding: 16px;
        }
    }

/* TABLET PORTRAIT */
    @media only screen and (min-width: 481px) and (max-width: 768px) {
        /* ... */
        :root {
            --layout-gap: 16px;
            --container-padding: 16px;
        }
    }

/* TABLET LANDSCAPE */
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        /* ... */
        :root {
            --layout-gap: 16px;
            --container-padding: 16px;
        }
    }

/* LAPTOP */
    @media only screen and (min-width: 1025px) and (max-width: 1600px) {
        /* ... */
        :root {
            --layout-gap: 32px;
            --container-padding: 32px;
        }
    }

/* DESKTOP */
    @media only screen and (min-width: 1601px) {
        /* ... */
        :root {
            --layout-gap: 32px;
            --container-padding: 32px;
        }
    }
/*
 * ------------------------------------------------ 
 * TYPOGRAPHY 
 * ------------------------------------------------
 */

/* BASIC TYPOGRAPHY */
    @import url('http://fonts.cdnfonts.com/css/pt-root-ui');
    @import url('http://fonts.cdnfonts.com/css/pt-mono');

    body {
        font-family: 'PT Root UI', sans-serif;
    }


/* HELPER STYLES */
    .typography--bold {
        font-weight: bold;
    }
    .typography--uppercase {
        text-transform: uppercase;
    }


/* BASIC TYPOGRAPHY STYLES */
    /* 
     * (https://carbondesignsystem.com/guidelines/typography/overview/) 
     */

    /* SYSTEM STYLES */
        h1 {
            font-size: 3.0rem;
            font-weight: lighter;
            margin: 0px;
            padding-top: 24px;
            padding-bottom: 16px;
        }
        h2 {
            font-size: 2.625rem;
            margin: 0px;
        }
        h3 {
            font-size: 2.25rem;
            margin: 0px;
        }
        h4 {
            font-size: 2.0rem;
            margin: 0px;
        }
        h5 {
            font-size: 1.75rem;
            margin: 0px;
        }
        h6 {
            font-size: 1.5rem;
            margin: 0px;
        }

    /* CUSTOM STYLES */
        .typography__display {
            font-size: 3.375rem;
            line-height: var(--dimention-line-height-display);
            margin: 0px;
        }
        .typography__h1 {
            font-size: 3.0rem;
            margin: 0px;
            padding-top: 24px;
            padding-bottom: 16px;
        }
        .typography__h2 {
            font-size: 2.625rem;
            margin: 0px;
        }
        .typography__h3 {
            font-size: 2.25rem;
            margin: 0px;
        }
        .typography__h4 {
            font-size: 2.0rem;
            margin: 0px;
        }
        .typography__h5 {
            font-size: 1.75rem;
            margin: 0px;
        }
        .typography__h6 {
            font-size: 1.5rem;
            margin: 0px;
        }
        .typography__title {
            font-size: 1.25rem;
            margin: 0px;
        }
        .typography__subtitle {
            font-size: 1.125rem;
            margin: 0px;
        }
        .typography__body {
            font-size: 1rem;
            margin: 0px;
        }
        .typography__body--text {
            font-size: 1rem;
            margin: 0px;
            line-height: 150%;
        }
        .typography__body1 {
            font-size: 0.875rem;
            margin: 0px;
        }
        .typography__body1--text {
            font-size: 0.875rem;
            line-height: 150%;
            margin: 0px;
        }
        .typography__caption {
            font-size: 0.75rem;
            margin: 0px;
        }
        .typography__overline {
            font-size: 0.75rem;
            text-transform: uppercase;
            margin: 0px;
        }
        .typography__button__label {
            font-size: 0.875rem;
            line-height: 1.0;
            text-transform: uppercase;
            margin: 0px;
            text-decoration: none;
        }
/*
 * ------------------------------------------------
 * LAYOUTS
 * ------------------------------------------------
 */

/* BASIC LAYOUTS */

    /* SYSTEM CONTAINERS */
        body {
            margin: 0px;
            padding: 0px;
        }
        header {}
        main {}
        nav {}
        footer {}

    /* FLEX && GRID LAYOUTS */
        .layout__flex__vertical {
            display: flex;
            flex-direction: column;

            flex-grow: 1;
            flex-shrink: 1;

            gap: var(--layout-gap);
        }
        .layout__flex__horizontal {
            display: flex;
            flex-direction: row;

            gap: var(--layout-gap);
        }
        .flex__horizontal--wrapped {
            flex-wrap: wrap;
        }
        .layout__grid__horizontal {
            display: grid;
            gap: var(--layout-gap);
        }
        .grid__horizontal--wrapped {
            grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        }

    /* CUSTOM CONTAINERS */
        .surface {}
        .card {}
        .toolbar {}


/* ADAPTIVE LAYOUTS */

    /* MOBILE */
        @media only screen and (max-width: 480px) {
            
            /* SYSTEM CONTAINERS */
                body {
                    font-size: 16px;
                }
                header {}
                main{}
                footer {}
                nav {}
            
            /* FLEX && GRID LAYOUTS */
                .layout__flex__vertical {
                    gap: 8px;
                }
                .flex__vertical--dense {
                    gap: 4px;
                }
                .layout__flex__horizontal {
                    gap: 8px;
                }
                .layout__grid__horizontal {
                    gap: 8px;
                }

            /* CUSTOM CONTAINERS */
                .surface {}
                .card {}
                .toolbar {}
        }
    
    /* TABLET PORTRAIT */
        @media only screen and (min-width: 481px) and (max-width: 768px) {
            
            /* SYSTEM CONTAINERS */
                body {
                    font-size: 16px;
                }
                header {}
                main{}
                footer {}
                nav {}

            /* FLEX && GRID LAYOUTS */
                .layout__flex__vertical {
                    gap: 16px;
                }
                .flex__vertical--dense {
                    gap: 4px;
                }
                .layout__flex__horizontal {
                    gap: 16px;
                }
                .layout__grid__horizontal {
                    gap: 16px;
                }

            /* CUSTOM CONTAINERS */
                .surface {}
                .card {}
                .toolbar {}
        }
    
    /* TABLET LANDSCAPE */
        @media only screen and (min-width: 769px) and (max-width: 1024px) {

            /* SYSTEM CONTAINERS */
                body {
                    font-size: 16px;
                }
                header {}
                main{}
                footer {}
                nav {}
            
            /* FLEX && GRID LAYOUTS */
                .layout__flex__vertical {
                    gap: 16px;
                }
                .flex__vertical--dense {
                    gap: 4px;
                }
                .layout__flex__horizontal {
                    gap: 16px;
                }
                .layout__grid__horizontal {
                    gap: 16px;
                }

            /* CUSTOM CONTAINERS */
                .surface {}
                .card {}
                .toolbar {}
        }
    
    /* LAPTOP */
        @media only screen and (min-width: 1025px) and (max-width: 1600px) {

            /* SYSTEM CONTAINERS */
                body {
                    font-size: 18px;
                }
                header {}
                main{}
                footer {}
                nav {}
            
            /* FLEX && GRID LAYOUTS */
                .layout__flex__vertical {
                    gap: 32px;
                }
                .flex__vertical--dense {
                    gap: 8px;
                }
                .layout__flex__horizontal {
                    gap: 32px;
                }
                .layout__grid__horizontal {
                    gap: 32px;
                }

                /* CUSTOM CONTAINERS */
                    .surface {}
                    .card {}
                    .toolbar {}
        }
    
    /* DESKTOP */
        @media only screen and (min-width: 1601px) {

            /* SYSTEM CONTAINERS */
                body {
                    font-size: 18px;
                }
                header {}
                main{}
                footer {}
                nav {}
            
            /* FLEX && GRID LAYOUTS */
                .layout__flex__vertical {
                    gap: 32px;
                }
                .flex__vertical--dense {
                    gap: 8px;
                }
                .layout__flex__horizontal {
                    gap: 32px;
                }
                .layout__grid__horizontal {
                    gap: 32px;
                }

            /* CUSTOM CONTAINERS */
                .surface {}
                .card {}
                .toolbar {}
        }

/*
 * ------------------------------------------------ 
 * CONTAINERS
 * ------------------------------------------------
 */

/* SURFACES */
    .surface {
        border: 0px;
        border-radius: 8px;

        padding: var(--container-padding);
    }
    .surface--outlined {
        border: var(--dimension-border-width) solid var(--color-accent-secondary-t16);
        border-radius: var(--dimension-border-radius);
    }
    .surface--filled {
        border: var(--dimension-border-width) solid var(--color-accent-secondary-t16);
        border-radius: var(--dimension-border-radius);

        background-color: var(--color-accent-secondary);
        color: var(--color-on-secondary);
    }
    .surface--highlighted {
        border: var(--dimension-border-width) solid var(--color-accent-secondary-t16);
        border-radius: var(--dimension-border-radius);

        background-color: var(--color-accent-secondary-t4);
        color: var(--color-secondary);
    }

/* ELEVATION */
    .elevation-level {
        opacity: 0.04;
    }
    .hierarchy-normal {
        opacity: 0.8;
    }
    .hierarchy-medium {
        opacity: 0.6;
    }
    .hierarchy-low {
        opacity: 0.4;
    }
    .hierarchy-disabled {
        opacity: 0.2;
    }

/* CARDS */
    .card {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;

        min-height: 192px;

        border: 0px;
        border-radius: 8px;
        box-sizing: border-box;

        overflow: hidden;
        padding: var(--container-padding);
    }
    .card--vertical {
        flex-direction: column;
        justify-content: end;
    }
    .card--horizontal {
        flex-direction: row;
        align-items: center;
    }
    .card--filled {
        border: var(--dimension-border-width) solid var(--color-accent-secondary-t16);
        border-radius: var(--dimension-border-radius);
        box-sizing: border-box;

        background-color: var(--color-accent-secondary);
        color: var(--color-on-secondary);
    }
    .card--outlined {
        border: var(--dimension-border-width) solid var(--color-accent-secondary-t16);
        border-radius: var(--dimension-border-radius);
        box-sizing: border-box;
    }
    .card--highlighted {
        border: var(--dimension-border-width) solid var(--color-accent-secondary-t16);
        border-radius: var(--dimension-border-radius);
        box-sizing: border-box;

        background-color: var(--color-accent-secondary-t4);
        color: var(--color-secondary);
    }
    .card__base {

    }
    .card__header {

    }
    .card__image {
        width: 100%;
    }
    .card__primary_text {

    }
    .card__secondary_text {
        opacity: 0.6;
    }
    .card__overline {

    }
    .card__action {

    }

/* TOOLBARS */
    .toolbar {
        background-color: var(--color-accent-primary);
        color: var(--color-on-accent);

        display: flex;
        flex-direction: column;
        justify-content: center;

        min-height: 56px;
    }
    .toolbar__container {
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);
    }
    .toolbar a {
        color: var(--color-on-accent);
    }
    .toolbar a:hover {
        color: var(--color-on-accent);
    }
    .toolbar a:active {
        color: var(--color-on-accent);
    }
    .toolbar a:visited {
        color: var(--color-on-accent);
    }


/* APP & PAGE CONTAINERS */
    body {
        margin: 0px;
        padding:0px;

        background-color: var(--color-primary);
        color: var(--color-on-primary);
    }
    .app {
        margin: 0px;
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);
    }
/*
 * ------------------------------------------------ 
 * ELEMENTS
 * ------------------------------------------------
 */


/* LINKS */
    a {
        text-decoration: none;
        color: var(--color-accent-primary)
    }
    a:hover {
        text-decoration: none;
        color: var(--color-accent-primary)
    }
    a:active {
        text-decoration: none;
        color: var(--color-accent-primary)
    }
    a.button--filled:hover {
        color: var(--color-on-accent);
    }

/* BUTTONS */
    .button {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        flex-shrink: 1;

        align-items: center;
        justify-content: center;

        padding-left: 32px;
        padding-right: 32px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .button--outlined {
        border: var(--dimension-border-width) solid var(--color-accent-secondary-t16);
        border-radius: var(--dimension-border-radius);
    }
    .button--filled {
        border: var(--dimension-border-width) solid var(--color-accent-secondary-t16);
        border-radius: var(--dimension-border-radius);

        background-color: var(--color-accent-secondary);
        color: var(--color-on-accent);
    }

/* FORM CONTROLS */
    button {
        min-height: 48px;
    }
    input {
        min-height: 48px;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;

        border: var(--dimension-border-width) solid var(--color-accent-secondary-t40);
        border-radius: var(--dimension-border-radius);
    }
    input:focus {
        outline: none;
        background-color: var(--color-accent-secondary-t4);
        border: 2px solid var(--color-accent-secondary-t40);
    }
    input:active {
        background-color: var(--color-accent-secondary-t4);
    }
    input::placeholder {
        font-family: 'PT Root UI';
        font-size: 1em;
        opacity: 0.6;
    }

    input[type="file"] {
        height: 48px;
        padding-left: 0px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    input[type="file"]::file-selector-button {
        height: 100%;
        padding-left: 16px;
        padding-right: 16px;

        border: 0px solid;
        
        font-family: 'PT Root UI', sans-serif;
        background-color: var(--color-accent-secondary);
        color: var(--color-on-accent);
        
        cursor: pointer;
    }
    input[type="submit"] {
        width: 100%;
        height: 48px;

        border: 0px solid;
        background-color: var(--color-accent-secondary);
        border-radius: var(--dimension-border-radius);
        color: var(--color-on-accent);
        cursor: pointer;

        font-family: 'PT Root UI', sans-serif;
    }
    select {
        /* Main style */
            min-height: 48px;
            width: 100%;
            display: inline-block;
            box-sizing: border-box;
            margin: 0px;
            padding-left: 16px;
            padding-right: 16px;
            
            border: unset;
            border: var(--dimension-border-width) solid var(--color-accent-secondary-t40);
            border-radius: var(--dimension-border-radius);
        /* Arrow */
            appearance: none;
            background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="48px" height="48px"><text x="0" y="48" font-family="PT Root UI" font-size="48px" fill="rgb(179, 179, 226)">▼</text></svg>');
            background-repeat: no-repeat;
            background-position: right 8px top 50%;
            background-size: 12px auto;
    }
    select:focus {
        outline: none;
        background-color: var(--color-accent-secondary-t4);
        border: 2px solid var(--color-accent-secondary-t40);
    }
    select:active {
        background-color: var(--color-accent-secondary-t4);
    }
    textarea{
        min-height: 48px;
        padding: 16px;
        width: 100%;

        border: var(--dimension-border-width) solid var(--color-accent-secondary-t40);
        border-radius: var(--dimension-border-radius);
        
        font-family: 'PT Root UI', sans-serif;
    }
    textarea::placeholder {
        font-family: 'PT Root UI', sans-serif;
        font-size: 1em;
        opacity: 0.6;
    }
    textarea:focus {
        outline: none;
        background-color: var(--color-accent-secondary-t4);
        border: 2px solid var(--color-accent-secondary-t40);
    }
    textarea:active {
        background-color: var(--color-accent-secondary-t4);
    }

/* LISTS */

    .list {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }
    .list__item {
        word-wrap: break-word;
        margin-bottom: 8px;
        width: 100%;
        list-style-type: none;
        padding: 0px;
    }

    .list__item--vertical {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    .list__item__primary-text {
        margin-bottom: 0px;
        width: 100%;
        padding: 0px;

        word-wrap: break-word;
    }
    .list__item__secondary-text {
        margin-bottom: 0px;
        width: 100%;
        padding: 0px;

        word-wrap: break-word;
    }
    .list__item__overline {
        color: var(--color-on-surface-light);
        text-transform: uppercase;
        word-wrap: break-word;
    }