/* lunarscape-extras.css */

.page__section--vh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    min-height: 88vh;
}

.navigation__main__items {
    display: flex;
    /*flex-direction: row;
    align-items: center;
    justify-content: center;*/
    gap: 16px;

    list-style-type: none;
}

#cover {
    background-color: rgba(255, 255, 255, 0.04);
}

#pricing {
    background-color: rgba(255, 255, 255, 0.04);
}

.toolbar {
    background-color: rgba(0, 0, 0, 0.08);
}

#studio-map {
    height: 100%;
    width: 100%;
}

#contacts-map {
    grid-column: 1 / 3;
    padding: 0px;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--color-link);
}
a:hover {
    text-decoration: none;
    color: var(--color-link);
}
a:active {
    text-decoration: none;
    color: var(--color-link);
}
a.button--filled:hover {
    color: var(--color-link);
}


.gallery__img__main {
    border: 0px solid #000;
    border-radius: var(--dimension-border-radius);
    overflow: hidden;

    max-width: 960px;
    max-height: 540px;
}

#gallery__img__current {
    display: block;
    object-fit: fill;
    height: 100%;
    border-radius: var(--dimension-border-radius);
}

.gallery__image {
    border: 0px solid #000;
    border-radius: var(--dimension-border-radius);
    overflow: hidden;

    min-width: 192px;
    margin-bottom: 16px;
}

.gallery__images {
    justify-content: flex-start;
}



/* ADAPTIVE LAYOUTS */

    /* MOBILE */
    @media only screen and (max-width: 480px) {
        .navigation__main__items {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 1;
        }
        #button-navigation-toggle {
        }
        #toolbar-container {
            display: none;
        }
        #toolbar-container-mob {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;
            flex-shrink: 1;

            border: 1px solid #FFF;
            min-height: 56px;
        }
    }

/* TABLET PORTRAIT */
    @media only screen and (min-width: 481px) and (max-width: 768px) {
        .navigation__main__items {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 1;

            padding: 8px;
        }
        #toolbar-container {
            display: none;
        }
        #toolbar-container-mob {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;
            flex-shrink: 1;

            border: 1px solid #FFF;
            min-height: 56px;
        }
    }

/* TABLET LANDSCAPE */
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        .navigation__main__items {
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        #button-navigation-toggle {
            display: none;
        }
        #toolbar-container {
            display: flex;
        }
        #toolbar-container-mob {
            display: none;
        }
    }

/* LAPTOP */
    @media only screen and (min-width: 1025px) and (max-width: 1600px) {
        .navigation__main__items {
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        #button-navigation-toggle {
            display: none;
        }
        #toolbar-container {
            display: flex;
        }
    }

/* DESKTOP */
    @media only screen and (min-width: 1601px) {
        .navigation__main__items {
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        #button-navigation-toggle {
            display: none;
        }
        #toolbar-container {
            display: flex;
        }
    }